{% extends 'softball/base.html' %}

{% block title %}Team: {{ team.name }}{% endblock %}

{% block body %}
<div class="page-header">
    <p class="pull-right">
        <a class="btn btn-danger" href="{% url team_delete team_id=team.id %}">
	  Delete Team</a>
        <a class="btn" href="{% url team_edit team_id=team.id %}">Edit Team</a>
    </p>
    <h1>
        {{ team.name }}
        <small>
            {{ record.0 }} win{{ record.0|pluralize }} /
            {{ record.1 }} loss{{ record.1|pluralize:"es" }}
        </small>
    </h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>Players</h3>
        {% include 'softball/team/part.player_list.html' with players=team.players %}
        <p>
            <a class="btn" href="{% url player_create %}">Add Player</a>
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>Games</h3>
        {% include 'softball/team/part.game_list.html' %}
        <p>
            <a class="btn" href="{% url game_create %}">Add Game</a>
        </p>
    </div>
</div>
{% endblock %}
